.about-me {
	margin: 0 100px;
	border-top: 1px solid rgb(74, 74, 74);
	padding: 80px 0;
}

.free-time {
	padding-left: 100px;
}

.about-me-title {
	font-size: 45px;
	margin-top: 0;
	margin-bottom: 20px;
	color: black;
	font-weight: bold;
	text-shadow: -1px 0 rgb(82, 82, 82), 0 1px rgb(82, 82, 82), 1px 0 rgb(82, 82, 82), 0 -1px rgb(82, 82, 82)
}

.about-me-description {
	font-size: 20px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	letter-spacing: 0.5px
}

.in-my-freetime-title, .in-my-freetime-description {
	margin: 10px 0 10px 30px;
}

.in-my-freetime-title {
	margin-bottom: 25px;
	color: black;
	text-shadow: -1px 0 rgb(82, 82, 82), 0 1px rgb(82, 82, 82), 1px 0 rgb(82, 82, 82), 0 -1px rgb(82, 82, 82);
	font-weight: bold;
}

.in-my-freetime-description {
	font-size: 20px;
	letter-spacing: 0.5px;
	color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.link-icon {
	text-decoration: none;
}

.link-icon:link,
.link-icon:visited,
.link-icon:hover,
.link-icon:active {
	text-decoration: none;
}

.medium-icon {
	color: #02b875;
}

.medium-icon:link,
.medium-icon:visited,
.medium-icon:hover,
.medium-icon:active {
	color: #02b875;
}

.quora-icon {
	color: #731414;
}

.quora-icon:link,
.quora-icon:visited,
.quora-icon:hover,
.quora-icon:active {
	color: #731414;
}

.github-icon {
	color: white;
}

.github-icon:link,
.github-icon:visited,
.github-icon:hover,
.github-icon:active {
	color: white;
}

.instagram-icon {
	color: black;
}

.instagram-icon:link,
.instagram-icon:visited,
.instagram-icon:hover,
.instagram-icon:active {
	color: black;
}
