html, body {
	margin: 0px;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	background-image: url('../images/pattern.png');
	height: 100%;
}

.home {

}

.home-content {
	text-align: center;
	margin-top: 200px;
}

.home-title {
	margin: 0;
	font-size: 70px;
}