html, body {
	margin: 0px;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	background-image: url('../images/pattern.png');
	height: 100%;
}

.home {
	text-align: center;
}

h1 {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin-top: 50px;
}

.social-networks {
	margin: 20px;
}

.social-networks a {
	margin: 15px;
}

.social-networks a i {
	font-size: 23px;
}

.social-networks .fa-facebook {
	color: #3a5795;
}

.social-networks .fa-linkedin {
	color: #1E88BD;
}

.social-networks .fa-instagram {
	color: #5E130F;
}

.social-networks .fa-twitter {
	color: #1DA1F2;
}

.social-networks .fa-github {
	color: black;
}

.social-networks .fa-medium {
	color: #0BE370;
}
