{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^(react|next)/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^(Base|src|Home|data|./)(.*)$"
  ],
  "importOrderSeparation": true
}
