*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: #c9cacc;
  background-color: #1b1b1b;
  font-size: 15px;
  font-family: 'Menlo', monospace;
  font-weight: 400;
  font-display: swap;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
