*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: #c9cacc;
  background-color: #1b1b1b;
  font-size: 15px;
  font-family: 'Menlo', monospace;
  font-weight: 400;
  font-display: swap;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
p a.icon,
a.icon {
  color: inherit;
  text-decoration: none;
  background: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
p a.icon:hover,
a.icon:hover {
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 100% 6px;
  background-image: linear-gradient(
    transparent,
    transparent 6px,
    white 6px,
    white
  );
}

p a.icon:hover,
a.icon:hover {
  color: white;
}

p.no-margin {
  margin: 0;
}

p.no-margin-bottom {
  margin-bottom: 0;
}

.content {
  width: 100%;
  max-width: 39rem;
  flex: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4 rem;
  margin-bottom: 4 rem;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #666;
  font-size: 11px;
  max-width: 700px;
  width: 100%;
  margin: 0 auto 1rem auto;
  vertical-align: top;
  text-align: center;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  border-right: 1px solid #4a4a4a;
}

.footer li a {
  margin-right: 15px;
}

.footer li:last-child {
  border-right: 0;
  margin-right: 0;
}

.footer li:last-child a {
  margin-right: 0;
}

.footer a {
  color: #c1c1c1;
}

.footer a:hover {
  color: #999;
}

.footer .footer-left {
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  color: #c1c1c1;
}

@media (min-width: 39rem) {
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer .footer-left {
    float: left;
  }
  .footer .footer-right {
    float: right;
  }
}
