*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background: black;
  color: white;
  font-size: 15px;
  font-family: 'Menlo', monospace;
  font-weight: 400;
  font-display: swap;
  line-height: 1.725;
  width: 100%;
  margin: 0;
  text-rendering: geometricPrecision;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media (prefers-color-scheme: light) {
  body {
    background: white;
    color: #333;
  }
}

div#__next {
  height: 100%;
  position: relative;
}

article h1 {
  letter-spacing: 0.01em;
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  color: white;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: none;
  line-height: 1.25;
}

@media (prefers-color-scheme: light) {
  article h1 {
    color: #333;
  }
}

article h2 {
  position: relative;
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: none;
  letter-spacing: normal;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #eee;
  display: block;
  line-height: 40px;
}

@media (prefers-color-scheme: light) {
  article h2 {
    color: #333;
  }
}

article h3 {
  margin-top: 0.9rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #eee;
  line-height: 30px;
}

@media (prefers-color-scheme: light) {
  article h3 {
    color: #333;
  }
}

article img {
  width: 100%;
}

article img.round {
  border-radius: 8px;
}

article blockquote {
  margin: 1rem 10px;
  padding: 0.5em 10px;
  font-size: 1.1em;
  font-size: 1.5em;
  color: #666;
  margin-top: 1.5em;
  text-align: center;
  line-height: 1.25;
  color: #eee;
  word-spacing: -4px;
  letter-spacing: -1px;
  position: relative;
  line-height: 30px;
}

@media (prefers-color-scheme: light) {
  article blockquote {
    color: #333;
  }
}

article blockquote::before {
  color: #eee;
  content: '\201C';
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  position: absolute;
  left: -15px;
}

@media (prefers-color-scheme: light) {
  article blockquote::before {
    color: #333;
  }
}

a,
article a {
  color: white;
  text-decoration-color: rgb(209 209 209);
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}

a:hover {
  text-decoration-color: white;
}

@media (prefers-color-scheme: light) {
  a,
  article a {
    color: #333;
    text-decoration-color: rgb(165 165 165);
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: none;
    text-underline-offset: 4px;
  }

  a:hover {
    text-decoration-color: black;
  }
}

article .series ul,
article .tags ul {
  list-style-type: none;
  padding: 0;
}

article .series ul li,
article .tags ul li {
  margin-bottom: 4px;
  display: flex;
}

article .series ul li time,
article .tags ul li time {
  display: block;
  min-width: 100px;
  margin-right: 16px;
}

article.post video {
  width: auto;
}

article.post video.full {
  width: 100%;
}

article.post video.full-width {
  width: 100%;
}

article.post .side-by-side img {
  border-radius: 8px;
}

@media (min-width: 1024px) {
  article.post .side-by-side {
    margin: 30px 0;
    margin-left: calc(-1 * (90vw - 760px) / 2);
    display: flex;
    width: 75vw;
    align-items: center;
    justify-content: center;
  }

  article.post .text-img-side-by-side {
    display: flex;
    gap: 24px;
  }

  article.post .text-img-side-by-side img {
    width: 200px;
  }

  article.post img.full {
    margin: 30px 0;
    margin-left: calc(-1 * (70vw - 800px) / 2);
    width: 60vw;
  }

  article.post video.full {
    margin: 30px 0;
    margin-left: calc(-1 * (70vw - 760px) / 2);
    width: 60vw;
    display: flex;
  }
}

@media (min-width: 576px) {
  article.post video {
    width: auto;
  }

  article.post img.small {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
p a.icon,
a.icon {
  color: inherit;
  text-decoration: none;
  background: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
p a.icon:hover,
a.icon:hover {
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 100% 6px;
  background-image: linear-gradient(
    transparent,
    transparent 6px,
    white 6px,
    white
  );
}

@media (prefers-color-scheme: light) {
  h1 a:hover,
  h2 a:hover,
  h3 a:hover,
  h4 a:hover,
  h5 a:hover,
  h6 a:hover,
  p a.icon:hover,
  a.icon:hover {
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 100% 6px;
    background-image: linear-gradient(
      transparent,
      transparent 6px,
      #333 6px,
      #333
    );
  }
}

p a.icon:hover,
a.icon:hover {
  color: white;
}

@media (prefers-color-scheme: light) {
  p a.icon:hover,
  a.icon:hover {
    color: #333;
  }
}

p.no-margin {
  margin: 0;
}

p.no-margin-bottom {
  margin-bottom: 0;
}

p.no-margin-top {
  margin-top: 0;
}

.content {
  width: 100%;
  max-width: 680px;
  flex: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.content pre {
  padding: 0;
  background-color: #292929e8;
  border: 0;
  margin: 20px 0;
  -webkit-box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.75);
}

.content pre,
.content code {
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  -webkit-hyphens: manual;
  hyphens: manual;
}

.content pre .hljs {
  padding: 1.5em;
}

.content hr {
  border: 0.5px solid #ccc;
  width: 80px;
  margin: 40px auto;
}

pre {
  font-family: 'Menlo', 'Meslo LG', monospace;
  font-size: 13px;
  padding: 10px 15px;
  padding-bottom: 0;
  line-height: 22px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px dotted #666;
  overflow-x: auto;
}

code {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 1px 5px;
  background-color: #303e80;
}

@media (prefers-color-scheme: light) {
  code {
    background-color: #9fb3ff;
  }
}

pre code {
  border: none;
  display: block;
  padding: 0;
}

a.link {
  text-decoration: none;
  color: white;
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 100% 6px;
  background-image: linear-gradient(
    transparent,
    transparent 5px,
    white 5px,
    white
  );
}

.footer {
  font-size: 11px;
  max-width: 700px;
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  border-right: 1px solid #4a4a4a;
}

.footer li a {
  margin-right: 15px;
}

.footer li:last-child {
  border-right: 0;
  margin-right: 0;
}

.footer li:last-child a {
  margin-right: 0;
}

.footer a {
  color: white;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  .footer a {
    color: #333;
  }
}

.footer .footer-right {
  margin-bottom: 20px;
}

@media (min-width: 760px) {
  .footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: initial;
  }

  .footer .footer-left,
  .footer .footer-right {
    margin-bottom: 20px;
  }
}
